.home-container {
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/729ce5c2-d831-436a-8c9d-f38fea0b99b3/web/IN-en-20241209-TRIFECTA-perspective_4aef76eb-7d5b-4be0-93c0-5f67320fd878_large.jpg");
  min-height: 100vh;
  background-color: rgb(48, 48, 48);
  z-index: 1;
  /* background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.7889) 8.333%,
    rgba(0, 0, 0, 0.7556) 16.67%,
    rgba(0, 0, 0, 0.7) 25%,
    rgba(0, 0, 0, 0.6222) 33.33%,
    rgba(0, 0, 0, 0.5222) 41.67%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.2778) 58.33%,
    rgba(0, 0, 0, 0.1778) 66.67%,
    rgba(0, 0, 0, 0.1) 75%,
    rgba(0, 0, 0, 0.04444) 83.33%,
    rgba(0, 0, 0, 0.01111) 91.67%,
    rgba(0, 0, 0, 0) 100%
  );
   */
}

.home {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  height: 84vh;
  gap: 6vh;
  position: relative;
  z-index: 1;
}
.background-color {
  position: absolute;
  height: 84vh;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.7889) 8.333%,
    rgba(0, 0, 0, 0.7556) 16.67%,
    rgba(0, 0, 0, 0.7) 25%,
    rgba(0, 0, 0, 0.6222) 33.33%,
    rgba(0, 0, 0, 0.5222) 41.67%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.2778) 58.33%,
    rgba(0, 0, 0, 0.1778) 66.67%,
    rgba(0, 0, 0, 0.1) 75%,
    rgba(0, 0, 0, 0.04444) 83.33%,
    rgba(0, 0, 0, 0.01111) 91.67%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 0;
}

.second-para {
  font-weight: 700;
}

.home-first-para {
  font-size: 46px;
  font-weight: 700;
}

.subscribe-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
}
.subscribe-container input,
.subscribe-container button {
  padding: 12px 24px;
}
.subscribe-container input {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 4px;
}

.subscribe-container input::placeholder {
  color: white;
}
.subscribe-container button {
  background-color: #d81f26;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}
